<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arcane.Liquidador.Properties.Errors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Arcane.Liquidador.Properties.Warnings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Arcane.Liquidador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Arcane.Liquidador.Properties.Errors>
            <setting name="Error_Obj1" serializeAs="String">
                <value>El objetivo 1 no puede tener una valor mayor al objetivo 2</value>
            </setting>
            <setting name="Error_Obj2" serializeAs="String">
                <value>El valor del objetivo 2 debe ser mayor al objetivo 1 y menor al objetivo 3</value>
            </setting>
            <setting name="Error_Obj3" serializeAs="String">
                <value>El valor del objetivo 3 debe ser superior al del objetivo 2</value>
            </setting>
        </Arcane.Liquidador.Properties.Errors>
        <Arcane.Liquidador.Properties.Warnings>
            <setting name="AlreadySelectedFile" serializeAs="String">
                <value>Este archivo ya fue seleccionado</value>
            </setting>
        </Arcane.Liquidador.Properties.Warnings>
        <Arcane.Liquidador.Properties.Settings>
            <setting name="defaultSim_text" serializeAs="String">
                <value />
            </setting>
            <setting name="objSim1_text" serializeAs="String">
                <value />
            </setting>
            <setting name="objSim2_text" serializeAs="String">
                <value />
            </setting>
            <setting name="objSim3_text" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultSo_text" serializeAs="String">
                <value />
            </setting>
            <setting name="objSO1_text" serializeAs="String">
                <value />
            </setting>
            <setting name="objSO2_text" serializeAs="String">
                <value />
            </setting>
            <setting name="saleTarget_text" serializeAs="String">
                <value />
            </setting>
            <setting name="volumeTarget_text" serializeAs="String">
                <value />
            </setting>
            <setting name="volumePayment_text" serializeAs="String">
                <value />
            </setting>
            <setting name="psrRequiered_text" serializeAs="String">
                <value />
            </setting>
            <setting name="darkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="objSim1_hint" serializeAs="String">
                <value />
            </setting>
            <setting name="objSim2_hint" serializeAs="String">
                <value />
            </setting>
            <setting name="objSim3_hint" serializeAs="String">
                <value />
            </setting>
            <setting name="objSO1_hint" serializeAs="String">
                <value />
            </setting>
            <setting name="objSO2_hint" serializeAs="String">
                <value />
            </setting>
        </Arcane.Liquidador.Properties.Settings>
    </userSettings>
</configuration>