<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Arcane.Liquidador.Properties.Errors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Arcane.Liquidador.Properties.Warnings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Arcane.Liquidador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Arcane.Liquidador.Properties.Errors>
            <setting name="Error_Obj1" serializeAs="String">
                <value>El objetivo 1 no puede tener una valor mayor al objetivo 2</value>
            </setting>
            <setting name="Error_Obj2" serializeAs="String">
                <value>El valor del objetivo 2 debe ser mayor al objetivo 1 y menor al objetivo 3</value>
            </setting>
            <setting name="Error_Obj3" serializeAs="String">
                <value>El valor del objetivo 3 debe ser superior al del objetivo 2</value>
            </setting>
        </Arcane.Liquidador.Properties.Errors>
        <Arcane.Liquidador.Properties.Warnings>
            <setting name="AlreadySelectedFile" serializeAs="String">
                <value>Este archivo ya fue seleccionado</value>
            </setting>
        </Arcane.Liquidador.Properties.Warnings>
        <Arcane.Liquidador.Properties.Settings>
            <setting name="defaultSim_text" serializeAs="String">
                <value />
            </setting>
            <setting name="SimStep1_text" serializeAs="String">
                <value />
            </setting>
            <setting name="SimStep2_text" serializeAs="String">
                <value />
            </setting>
            <setting name="SimStep3_text" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultSo_text" serializeAs="String">
                <value />
            </setting>
            <setting name="SOStep1_text" serializeAs="String">
                <value />
            </setting>
            <setting name="SOStep2_text" serializeAs="String">
                <value />
            </setting>
            <setting name="SaleTarget_text" serializeAs="String">
                <value />
            </setting>
            <setting name="VolumeTarget_text" serializeAs="String">
                <value />
            </setting>
            <setting name="VolumePayment_text" serializeAs="String">
                <value />
            </setting>
            <setting name="PsrRequiered_text" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimStep1_hint" serializeAs="String">
                <value />
            </setting>
            <setting name="SimStep2_hint" serializeAs="String">
                <value />
            </setting>
            <setting name="SimStep3_hint" serializeAs="String">
                <value />
            </setting>
            <setting name="SOStep1_hint" serializeAs="String">
                <value />
            </setting>
            <setting name="SOStep2_hint" serializeAs="String">
                <value />
            </setting>
        </Arcane.Liquidador.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>