<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arcane.Liquidador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Arcane.Liquidador.Properties.Settings>
            <setting name="defaultSim" serializeAs="String">
                <value />
            </setting>
            <setting name="objSim1" serializeAs="String">
                <value />
            </setting>
            <setting name="objSim2" serializeAs="String">
                <value />
            </setting>
            <setting name="objSim3" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultSo" serializeAs="String">
                <value />
            </setting>
            <setting name="objSO1" serializeAs="String">
                <value />
            </setting>
            <setting name="objSO2" serializeAs="String">
                <value />
            </setting>
            <setting name="saleTarget" serializeAs="String">
                <value />
            </setting>
            <setting name="volumeTarget" serializeAs="String">
                <value />
            </setting>
            <setting name="volumePayment" serializeAs="String">
                <value />
            </setting>
            <setting name="psrRequiered" serializeAs="String">
                <value />
            </setting>
        </Arcane.Liquidador.Properties.Settings>
    </userSettings>
</configuration>